node_modules
# Files are cached after downloading so we don't hit the endpoint every time
json*/
html*/
goodreads/

# Elm pages
node_modules/
elm-stuff/
dist/
.elm-pages/
functions/render/elm-pages-cli.mjs
functions/server-render/elm-pages-cli.mjs
