node_modules
# Files are cached after downloading so we don't hit the endpoint every time
cache

# Elm pages
node_modules/
elm-stuff/
dist/
.elm-pages/
codegen/

# Playwright
/test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
